{{!-- <li>
	{{name}}

	{{#if devour}}

	{{else}}
	<button class="eat" data-id="{{this.id}}" data-neweaten="{{devour}}">Devour!</button>
	{{/if}}
</li> --}}


<li>
	{{name}}
	{{#if devour}}
	<button class="js-btn" data-id="{{id}}" data-neweaten="{{devour}}">Devour!</button>

</li>